<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gre.admd_cw1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePet"
            android:label="@string/title_activity_create_pet" >
        </activity>
        <activity
            android:name=".ListAllPet"
            android:label="@string/title_activity_list_all_pet" >
        </activity>
        <activity
            android:name=".CreateAndShowReport"
            android:label="@string/title_activity_create_and_show_report" >
        </activity>
    </application>

</manifest>
